<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
<div th:replace = "include/header::header"></div>
<div th:replace = "include/controlNav::controlNav"></div>
<div th:replace = "include/header::header"></div>
<table class = "table   table-striped">
<tr>
<td>id</td>
<td>time</td>
</tr>
<tr th:each = "t : ${times}">
<td th:text = "${t.id}"></td>
<td th:text = "${t.time}"></td>

</tr>
</table>
//应该是选择时间 而不是自己输入
<form action = "time_insert">
<input type="text" name = "time"  />
<input type="submit" />
</form>
</body>
</html>